:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(10, 10, 10, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(249, 245, 245);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 70px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.beautiful-dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-right: 1000px;
}

.dropdown-header {
  padding: 20px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

.dropdown-options {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
}

.dropdown-options li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-options li:hover {
  background-color: #f0f0f0;
}


#NEWGAME{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 23rem;
}

#STARTBUTTON{
margin-right: 25rem;
margin-bottom: 1rem;
}
#HARDER{
  margin-right: 25rem;
  margin-bottom: 1rem;

}

#globe{
  position: relative;
  height: 300px;
  width: 300px;
  margin: 0.05em auto;
  background: #888 url(https://www.surfertoday.com/images/stories/physical-world-map.jpg) 0 0 repeat;
  border-radius: 50%;
  background-size: 630px;
  animation: rotates 10s linear infinite;
  transition: transform 200ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 20px 0 80px 6px rgb(0, 0, 0) ;
  color: #000;
}


@keyframes rotates {
0%{
  background-position: 0 0;
}
100%{
  background-position: 630px 0;
}
}





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media(max-width:  767px) {
 #root{
  max-width: 20rem;
 }
  #TAGGAME{
   max-width: 100%;
  margin-right: 1rem;
  }
 #NEWGAME{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
 }
 #HOME{
  max-width: 100%;
  margin-left: 1rem;
 }
 #STARTBUTTON{
  margin-right: 2rem;
  margin-bottom: 1rem;
 }
 #HARDER{
  margin-right: 2rem;
  margin-bottom: 1rem;
 }
 #THEBOX{
  margin-right: 2rem;
 }
 }